pipeline/DL_toEDW.json
{
	"name": "DL_toEDW",
	"properties": {
		"activities": [
			{
				"name": "Lookup MetaData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Integration].[GetMetaDataTriggerPath]",
						"storedProcedureParameters": {
							"triggerPath": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.folder",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetMetaData",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load Into Staging",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Lookup MetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@if(activity('Lookup MetaData').output.firstRow.LoadIntoStaging,substring(pipeline().parameters.folder,0,indexof(pipeline().parameters.folder,'/')),'')\r\n",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "dimension",
							"activities": [
								{
									"name": "Copy dimensional data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:11:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "Lineage",
													"value": {
														"value": "@concat(pipeline().parameters.folder, '/',pipeline().parameters.file)",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Dimension_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"folder": {
													"value": "@pipeline().parameters.folder",
													"type": "Expression"
												},
												"file": {
													"value": "@pipeline().parameters.file",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Staging_DB",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "Staging",
												"TableName": {
													"value": "@activity('Lookup MetaData').output.firstRow.StagingTableName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					]
				}
			},
			{
				"name": "Load Into EDW",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Load Into Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Lookup MetaData').output.firstRow.LoadIntoDBO",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Stored procedure-staging to EDW",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Integration].[staging_to_db]",
								"storedProcedureParameters": {
									"dataset": {
										"value": {
											"value": "@activity('Lookup MetaData').output.firstRow.StagingTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"lineage": {
										"value": {
											"value": "@concat(pipeline().parameters.folder, '/', pipeline().parameters.file)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Like_azure_SQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"folder": {
				"type": "string"
			},
			"file": {
				"type": "string"
			}
		},
		"annotations": []
	}
}