kenyo20240803/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "kenyo20240803"
		},
		"ADLS_Link_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLS_Link'"
		},
		"Like_azure_SQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Like_azure_SQL'"
		},
		"Link OnPrem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Link OnPrem'"
		},
		"ADLS_Link_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://kenyo20240803.dfs.core.windows.net/"
		},
		"Like_azure_SQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "kenyo20240803.database.windows.net"
		},
		"Like_azure_SQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "kenyo20240803"
		},
		"Like_azure_SQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "emmanuel"
		},
		"Link OnPrem_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-UTBS4D5\\KENYOMDX"
		},
		"Link OnPrem_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "TescaOLTP"
		},
		"Link OnPrem_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "kenyo"
		},
		"Load DImension Data_properties_DL_toEDW_parameters_folder": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"Load DImension Data_properties_DL_toEDW_parameters_file": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"Load DImension Data_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/b28c3f0b-9bc9-4ace-b8f5-e04d014dde42/resourceGroups/rg-emmanuel/providers/Microsoft.Storage/storageAccounts/kenyo20240803"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DL_toEDW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup MetaData",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[Integration].[GetMetaDataTriggerPath]",
								"storedProcedureParameters": {
									"triggerPath": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.folder",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "GetMetaData",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Load Into Staging",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "Lookup MetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@if(activity('Lookup MetaData').output.firstRow.LoadIntoStaging,substring(pipeline().parameters.folder,0,indexof(pipeline().parameters.folder,'/')),'')\r\n",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "dimension",
									"activities": [
										{
											"name": "Copy dimensional data",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.00:11:00",
												"retry": 3,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"additionalColumns": [
														{
															"name": "Lineage",
															"value": {
																"value": "@concat(pipeline().parameters.folder, '/',pipeline().parameters.file)",
																"type": "Expression"
															}
														}
													],
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings"
													}
												},
												"sink": {
													"type": "AzureSqlSink",
													"writeBehavior": "insert",
													"sqlWriterUseTableLock": false
												},
												"enableStaging": false,
												"translator": {
													"type": "TabularTranslator",
													"typeConversion": true,
													"typeConversionSettings": {
														"allowDataTruncation": true,
														"treatBooleanAsNumber": false
													}
												}
											},
											"inputs": [
												{
													"referenceName": "Dimension_Dataset",
													"type": "DatasetReference",
													"parameters": {
														"folder": {
															"value": "@pipeline().parameters.folder",
															"type": "Expression"
														},
														"file": {
															"value": "@pipeline().parameters.file",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "Staging_DB",
													"type": "DatasetReference",
													"parameters": {
														"Schema": "Staging",
														"TableName": {
															"value": "@activity('Lookup MetaData').output.firstRow.StagingTableName",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GetMetaData')]",
				"[concat(variables('factoryId'), '/datasets/Dimension_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/Staging_DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Dimensional_data_from_OnPrem')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup-OnPrem Dimension Data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "---Extract the dimension data\nSELECT \n    s.name AS SchemaName,\n    t.name AS TableName\nFROM \n    TescaOLTP.sys.tables t\nINNER JOIN \n    TescaOLTP.sys.schemas s\nON \n    t.schema_id = s.schema_id\nWHERE \n    t.name != 'PurchaseAnalysis'\n\tAND t.name != 'SalesAnalysis'\n\tAND t.name != 'sysdiagrams'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "OnPrem_Dimensional_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Dimensional Data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup-OnPrem Dimension Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup-OnPrem Dimension Data').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy Dimensional data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@{concat('SELECT * FROM ', item().schemaName, '.', item().TableName)} ",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "OnPrem_Dimensional_Dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Dimensional_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item().TableName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OnPrem_Dimensional_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/Dimensional_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dimension_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_Link",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CityID",
						"type": "String"
					},
					{
						"name": "CityName",
						"type": "String"
					},
					{
						"name": "StateID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_Link')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dimensional_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_Link",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().TableName, '_', formatDateTime(addDays(utcNow(), -1), 'yyyy-MM-dd'), '.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('live', '/', dataset().TableName)",
							"type": "Expression"
						},
						"fileSystem": "dimension"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CityID",
						"type": "String"
					},
					{
						"name": "CityName",
						"type": "String"
					},
					{
						"name": "StateID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_Link')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetMetaData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Like_azure_SQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SourceTableName",
						"type": "varchar"
					},
					{
						"name": "StagingTableName",
						"type": "varchar"
					},
					{
						"name": "MigrationSPROC",
						"type": "nvarchar"
					},
					{
						"name": "LoadIntoStaging",
						"type": "bit"
					},
					{
						"name": "LoadIntoDBO",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "Integration",
					"table": "GetMetaData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Like_azure_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPrem_Dimensional_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Link OnPrem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Link OnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Staging_DB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Like_azure_SQL",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Schema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().Schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Like_azure_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Link')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLS_Link_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLS_Link_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Like_azure_SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Like_azure_SQL_properties_typeProperties_server')]",
					"database": "[parameters('Like_azure_SQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Like_azure_SQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Like_azure_SQL_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Link OnPrem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('Link OnPrem_properties_typeProperties_server')]",
					"database": "[parameters('Link OnPrem_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('Link OnPrem_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Link OnPrem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SHIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load DImension Data')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DL_toEDW",
							"type": "PipelineReference"
						},
						"parameters": {
							"folder": "[parameters('Load DImension Data_properties_DL_toEDW_parameters_folder')]",
							"file": "[parameters('Load DImension Data_properties_DL_toEDW_parameters_file')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/dimension/blobs/live",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Load DImension Data_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DL_toEDW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}